<%- include('../components/footer.ejs') %>



<script type="text/javascript" src="../../public/js/main.js"></script>
<script type="text/javascript" src="../../public/js/jquery-3.4.1.min.js"></script>
<!-- Materialize JS-->
<script type="text/javascript" src="../../public/js/materialize.min.js"></script>
</body>

</html>
