<!-- <a class="waves-effect waves-light btn modal-trigger" >announcement</a> -->
<div class="fixed-action-btn announcement">
    <a class="btn-floating btn-large waves waves-effect waves-light btn modal-trigger red" href="#announcement-modal">
        <i class="large material-icons">announcement</i>
    </a>
</div>

  <!-- Modal Structure -->
  <div id="announcement-modal" class="modal">
    <div class="modal-content">
      <!-- <h4>Modal Header</h4> -->
      <img src="../../public/images/online.jpg" alt="announcement" class="announcement-image">
      <p class="flow-text"></p>
    </div>
    <div class="modal-footer">
      <a href="/" class="modal-close waves-effect waves-green btn orange">Agree</a>
    </div>
  </div>
