<section class="container">
    <h2 class="center service-heading">Contact us</h2>
    <div class="row">
        <ul class="collapsible expandable">
            <li class="active ">
              <div class="collapsible-header"><i class="material-icons">mail</i>Send us an email</div>
              <div class="collapsible-body"><span>info@keynigeria.org</span></div>
            </li>
            <li class="active ">
                <div class="collapsible-header"><i class="material-icons">phone</i>Call us</div>
                <div class="collapsible-body"><span>+2348098912544</span></div>
              </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Come visit us</div>
              <div class="collapsible-body"><span>The Spirit Center, Jesus Street, Ekredjebor, Ughelli, Delta State, 333105 NG</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">record_voice_over</i>Tell us what God did</div>
              <div class="collapsible-body">
                <div class="row">
                    <form class="col s12" action="/testify" method="post">
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_fname" type="text" name="fname" class="validate">
                          <label for="icon_fname">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_lname" type="text" name="lname" class="validate">
                            <label for="icon_lname">Last Name</label>
                          </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail</i>
                            <input id="icon_email" type="email" name="email" class="validate">
                            <label for="icon_email">Email</label>
                          </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">phone</i>
                          <input id="icon_telephone" type="tel" name="tel" class="validate">
                          <label for="icon_telephone">Phone Number</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">history_edu</i>
                            <textarea id="textarea" class="materialize-textarea" name="testimony"></textarea>
                            <label for="textarea">I am thanking God for...</label>
                        </div>
                        <div class="input-field col s12 center">
                            <input id="contact-submit" type="button" value="submit" class="teal btn">
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
            </li>
        </ul>
    </div>
</section>
