<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves waves-effect waves-light orange">
      <i class="large material-icons">person</i>
    </a>
    <ul>
      <li class="teal-text"><a class="btn-floating btn-large red" href="https://flutterwave.com/pay/key-seed" target="_self"><i class="material-icons">volunteer_activism</i></a>seed</li>
      <li class="teal-text"><a class="btn-floating btn-large yellow darken-1" href="https://flutterwave.com/pay/key-tithe-and-offering" target="_self"><i class="material-icons">payments</i></a>tithe & offering</li>
      <li class="teal-text"><a class="btn-floating btn-large green" href="https://flutterwave.com/pay/key-partnership" target="_self"><i class="material-icons">handshake</i></a>partnership</li>
      <li class="teal-text"><a class="btn-floating btn-large amber" href="https://flutterwave.com/pay/key-first-fruit" target="_self"><i class="material-icons">nature_people</i></a>first fruit</li>
      <li class="teal-text"><a class="btn-floating btn-large blue" href="https://spotifyanchor-web.app.link/e/vHhq0qv75sb" target="_blank"><i class="material-icons">headphones</i></a>messages</li>
    </ul>
</div>
