<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h3 class="white-text">Kingdom Envoy</h3>
                <p class="grey-text text-darken-1">The Spirit Center, Jesus Street, Ekredjebor, Ughelli, Delta State,
                    Nigeria, 333105</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://live.keynigeria.org">Live Service</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Podcast</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/KeyNigeria">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2012-<span class="current-year"></span> Kingdom Envoy International Church
        </div>
    </div>
</footer>
