<section class="container">
    <h2 class="center ministry-heading">key ministries</h2>
    <div class="row">
        <div class="col s12 m4">
          <div class="card amber ministry-card">
            <div class="card-image ministry-logo">
              <img src="../../public/images/mended.png">
              <a class="btn-floating halfway-fab waves-effect waves-light blue" href="https://www.facebook.com"><i class="material-icons">person_add</i></a>
            </div>
            <div class="card-content">
                <span class="card-title center ministry-name">Mended</span>
              <p class="flow-text center">Mended is an active ministry under Kingdom Envoy Church, under the Murphy Akpovi Ministry, to build Men who are God fearing and versatile.</p>
              <div class="divider black ministry-divider"></div>
            </div>
            <div class="ministry-action">
                <img src="../../public/icons/keyicon.png" alt="key logo" class="ministry-icon">
                <a href="#" class=""><i class="material-icons medium">message</i></a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
            <div class="card amber ministry-card">
              <div class="card-image ministry-logo">
                <img src="../../public/images/gll.png">
                <a class="btn-floating halfway-fab waves-effect waves-light blue" href="https://www.facebook.com"><i class="material-icons">person_add</i></a>
              </div>
              <div class="card-content">
                  <span class="card-title center ministry-name">God's Leading Ladies</span>
                <p class="flow-text center">God’s Leading Ladies is an active ministry under Kingdom Envoy Church, under the Murphy Akpovi Ministry, to raise women with virtuous characters.</p>
                <div class="divider black ministry-divider"></div>
              </div>
              <div class="ministry-action">
                  <img src="../../public/icons/keyicon.png" alt="key logo" class="ministry-icon">
                  <a href="#" class=""><i class="material-icons medium">message</i></a>
              </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card amber ministry-card">
              <div class="card-image ministry-logo">
                <img src="../../public/images/creamsingles.png">
                <a class="btn-floating halfway-fab waves-effect waves-light blue" href="https://www.facebook.com"><i class="material-icons">person_add</i></a>
              </div>
              <div class="card-content">
                  <span class="card-title center ministry-name">Cream Singles</span>
                <p class="flow-text center">Cream Singles is the youth arm of Kingdom Envoy. It offers every youth the opportunity to experience life as a youth as God wills it, training leaders for national leadership.</p>
                <div class="divider black ministry-divider"></div>
              </div>
              <div class="ministry-action">
                  <img src="../../public/icons/keyicon.png" alt="key logo" class="ministry-icon">
                  <a href="#" class=""><i class="material-icons medium">message</i></a>
              </div>
            </div>
        </div>

    </div>

    
</section>
