<header class="navbar-fixed">
  <nav class="z-depth-0">
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo">
        <img src="../../public/images/logo.png" alt="" class="nav-img responsive-img">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="/about">About Us</a></li>
        <li class=""><a href="/blog">Blog</a></li>
        <li class=""><a href="/gallery">Gallery</a></li>
        <li class=""><a href="/contact">Prayers & Testimonies</a></li>
        <li class=""><a href="https://live.keynigeria.org">Live Stream</a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a class="sidenav-close" href="javascript:void();"><i class="material-icons">close</i></a></li>
    <li class=""><a href="/">Home</a></li>
    <li class=""><a href="/about">About Us</a></li>
    <li class=""><a href="/blog">Blog</a></li>
    <li class=""><a href="/gallery">Gallery</a></li>
    <li class=""><a href="/contact">Prayers & Testimonies</a></li>
    <li class=""><a href="https://live.keynigeria.org">Live Stream</a></li>
  </ul>
</header>
