<div class="col-xxl-3 col-md-6 col-ssm-12 mb-30">
    <!-- published blog card -->
    <div class="ap-po-details p-25 radius-xl bg-white d-flex justify-content-between">
        <div>
            <div class="overview-content">
                <h1>7,461</h1>
                <p>Blogs</p>
                <div class="ap-po-details-time">
                    <span class="color-success">total published</span>
                </div>
            </div>

        </div>
        <div class="ap-po-timeChart">
            <div class="overview-single__chart d-md-flex align-items-end">
                <div class="parentContainer">


                    <div>
                        <canvas id="mychart8"></canvas>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- published blog card End -->
</div>
