<div class="col-lg-4 mb-25">
    <div class="social-overview-wrap">

        <div class="card card-md mb-4">
            <div class="card-body px-10">
                <div class="date-picker">
                    <div class="date-picker__calendar"></div>
                    <!-- ends: .date-picker__calendar -->
                </div>
            </div>
        </div>

    </div>
</div>
